<div class="w-full bg-zinc-700 border-b border-gray-700 px-4 py-3 flex items-center">
  <div class="flex items-center gap-2">
    <button mat-icon-button class="text-white">
      <mat-icon>menu</mat-icon>
    </button>

    <span class="text-white font-medium tracking-wide leading-none"> USUÁRIOS </span>
  </div>

  <div class="ml-14 flex-1 max-w-lg">
    <app-search-user (searchChange)="onSearch($event)"></app-search-user>
  </div>
</div>

<div class="relative">
  <div class="p-6 max-w-5xl mx-auto">
    @if (error()) {
      <app-error-message [message]="error() || ''"></app-error-message>
    }

    <h2 class="text-gray-700 text-sm font-medium mb-3">Usuários cadastrados</h2>

    @if (paginatedUsers().length > 0) {
      <div class="space-y-3 mb-4">
        @for (user of paginatedUsers(); track user.id) {
          <app-user-card [user]="user" (edit)="onOpenModal($event)"> </app-user-card>
        }
      </div>

      <!-- PAGINADOR -->
      <mat-paginator
        [length]="filteredUsers().length"
        [pageSize]="pageSize()"
        [pageIndex]="pageIndex()"
        [pageSizeOptions]="[5, 10, 20]"
        (page)="onPageChange($event)"
        class="mt-5"
      >
      </mat-paginator>
    } @else {
      <p class="text-center text-gray-500 mt-4">Nenhum usuário encontrado.</p>
    }

    <ng-template #emptyState>
      <p class="text-center text-gray-500 mt-4">Nenhum usuário encontrado.</p>
    </ng-template>
  </div>

  @if (loading()) {
    <div class="absolute inset-0 bg-white/70 flex items-center justify-center z-50">
      <app-loading-spinner></app-loading-spinner>
    </div>
  }
</div>

<app-fab-button (clicked)="onOpenModal()"></app-fab-button>
